.lbl-name {
    font-size: xx-large;
    font-weight: bold;
    font-family: Poppins, Arial, sans-serif;
    padding: 10px;
}

.lbl-desc {
    font-family: Poppins, Arial, sans-serif;
    font-size: large;
    margin: 5px;
}

.list-friends {
    margin: 15px 0px;
}

div {
    margin: 10px;
}