<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/friends-list"></ion-back-button>
    </ion-buttons>
    <ion-title>add-friend</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="ion-justify-content-center ion-align-items-center ion-align-self-center">
      <ion-card-header>
        <ion-card-title padding  class="friend-title-name">
          Add new friend!
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">
            Friend Name
          </ion-label>
          <ion-input [(ngModel)]="friendName" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            Priority
          </ion-label>
          <ion-select [(ngModel)]="friendPriority">
            <ion-select-option value="low">Low</ion-select-option>
            <ion-select-option value="low">Medium</ion-select-option>
            <ion-select-option value="low">High</ion-select-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-button class="save-btn ion-justify-content-center ion-align-items-center" horizontal="end" shape="round"
          (click)="addFriend()">Add Friend</ion-button>
        
      </ion-card-content>
    </ion-card>
</ion-content>
