.friend-title-name {
    font-family: Poppins, Aria, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.add-card {
    position: flex;
    justify-content: center;
    align-items: center;
}